.inline {
  display: inline; }

.errors_for {
  font-size: 12px;
  color: #550000;
  font-weight: bold; }

label.error {
  margin-bottom: 3px; }

span.error {
  color: red;
  font-variant: italic; }

form {
  margin: 0px; }
  form p {
    margin: 10px 0;
    font-size: 12px; }
  form h3 {
    margin-top: 5px;
    font-size: 16px; }
  form .option_fields label, form .text_field label, form .text_area label, form .select label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px; }
    form .option_fields label em, form .option_fields label i, form .text_field label em, form .text_field label i, form .text_area label em, form .text_area label i, form .select label em, form .select label i {
      margin-left: 10px;
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      color: #999999; }
  form .text_field, form .text_area {
    margin-bottom: 10px; }
    form .text_field input, form .text_field textarea, form .text_area input, form .text_area textarea {
      font-size: 16px;
      padding: 5px;
      border-top: solid 1px #c4c4c4;
      border-left: solid 1px #e9e9e9;
      border-bottom: solid 1px #e9e9e9;
      border-right: solid 1px #c4c4c4; }
    form .text_field textarea, form .text_area textarea {
      width: 538px; }
    form .text_field .label, form .text_area .label {
      display: block;
      margin-top: 10px;
      margin-bottom: 5px; }
      form .text_field .label label, form .text_area .label label {
        display: inline;
        font-weight: bold; }
      form .text_field .label .description, form .text_area .label .description {
        display: inline;
        margin-left: 5px;
        font-size: 10px;
        color: #969696; }
  form .select label {
    float: left;
    padding-right: 10px; }
  form .date_fields {
    margin-bottom: 10px; }
    form .date_fields .pick_date {
      margin-right: 20px; }
  form .submit {
    font-size: 12px; }
  form .errorExplanation {
    display: block;
    padding: 0px;
      padding-left: 10px;
    font-size: 12px;
    border: 2px #b43232 solid;
    background: #ffc8c8;
    margin-bottom: 20px; }
    form .errorExplanation h2, form .errorExplanation p {
      display: none; }
    form .errorExplanation ul {
      padding-left: 20px; }
  form .field_with_errors input {
    background: #ffe6e6;
    border: 1px #c86464 solid; }
  form .form_error {
    border: 1px red solid;
    background: #ffc8c8; }
  form .text_actions {
    text-decoration: underline; }

form.app_form {
  background: #ffffdc;
  border: 1px solid #c8c878;
  padding: 20px;
  margin-bottom: 15px; }

#header_wrap {
  border-bottom: 1px solid #dddddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 238, 238, 0)), to(#eeeeee));
  background-image: -moz-linear-gradient(rgba(238, 238, 238, 0), #eeeeee);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#EEEEEE, GradientType=0)";
  padding-bottom: 5px; }
  #header_wrap:after {
    content: " ";
    visibility: hidden;
    height: 0;
    font-size: 0;
    display: block;
    clear: both; }
  * html #header_wrap {
    height: 1px; }
  *:first-child + html #header_wrap {
    overflow: hidden; }

div.header {
  width: 960px;
  margin: 0 auto;
  margin-top: 5px; }
  div.header h1 {
    margin: 0;
    border-right: 1px solid #dddddd;
    width: 134px;
    height: 36px;
    padding-right: 20px;
    float: left; }
    div.header h1 a {
      display: block;
      width: 134px;
      height: 36px; }
  div.header #user_utilities {
    float: right;
    margin-top: 2px;
    padding: 0;
    text-align: right; }
    div.header #user_utilities .global_navigation {
      padding: 0;
      margin-right: 10px;
      margin-top: 10px;
      text-align: right;
      list-style-type: none;
      font-size: 11px; }
      div.header #user_utilities .global_navigation li {
        display: inline-block; }
        div.header #user_utilities .global_navigation li a {
          color: #333333;
          padding: 5px; }

html {
  margin: 0px;
  padding: 0px; }

body {
  margin: 0px;
  padding: 0px;
  font: normal 14px "Lucida Grande", Arial, Helvetica, sans-serif; }

h1, h2, h3, h4 {
  font-family: Helvetica, Arial;
  font-size: 15px;
  margin: 0px; }

p {
  margin: 10px 0px;
  line-height: 1.7em; }

a {
  color: blue;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

img {
  display: block;
  border: 0px; }

br {
  clear: both; }

div.clear {
  clear: both; }
div.header {
  display: none; }
div.navigation {
  width: 900px;
  margin: 0px auto; }
  div.navigation ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: auto; }
  div.navigation li {
    display: block;
    float: left;
    margin: 0;
    padding: 0; }
    div.navigation li a {
      font-family: "Lucida Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
      font-size: 15px;
      display: block;
      float: left;
      color: #3d3d3d;
      text-decoration: none;
      padding: 8px 16px 7px;
      border-bottom: none;
      background: transparent url(/images/nav_divider.gif) no-repeat top right; }
      div.navigation li a:hover {
        color: white;
        background: #41b5c1;
        border-bottom: 1px solid #41b5c1; }
    div.navigation li.selected a {
      color: white;
      background: #0b0b0a;
      border-bottom: 1px solid #0b0b0a; }
    div.navigation li.right_side {
      float: right; }
      div.navigation li.right_side a {
        padding-left: 50px;
        padding-right: 50px; }

h1 {
  color: #111111;
  font-family: Georgia, sans-serif;
  font-size: 270%;
  font-weight: normal;
  margin: 0 0 15px 0; }

h2 {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 18px;
  margin: 20px 0 15px 0;
  font-weight: bold; }

h3 {
  margin: 30px 0 15px 0;
  font-size: 14px; }

ul {
  margin: 20px 0; }
  ul li {
    margin: 10px 0; }

p, li {
  font-size: 12px; }

pre {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0;
  overflow-x: auto; }

.flash_box {
  display: block;
  margin: 15px 0;
  float: none; }

form {
  margin: 20px 0; }

.wrapper .column {
  margin-top: 20px; }
  .wrapper .column a {
    display: block;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 0;
    padding: 5px 0px 5px 20px; }
    .wrapper .column a:hover {
      background-color: #fffff0; }

div.header {
  display: block; }
div.wrapper {
  width: 900px;
  margin: 0px auto;
  padding-top: 30px; }
div.content {
  float: left;
  width: 670px;
  padding-bottom: 25px; }
div.sidebar, div.content_single {
  padding-bottom: 25px; }
div.wrapper a {
  text-decoration: none;
  border-bottom: 1px dotted #ddddff;
  color: #0000c8; }
div.column {
  float: right;
  width: 220px; }
div.box {
  padding: 10px;
  font-size: 12px;
  margin: 20px 0;
  border: 1px solid #dbd6d1;
  background-color: #efedeb; }
  div.box p {
    margin: 5px 0; }
  div.box h2 {
    font-size: 18px;
    margin-bottom: 2px; }
div.footer {
  border-top: solid 1px #dcdcdc;
  clear: both;
  color: #777777;
  width: 900px;
  margin: 0px auto;
  padding: 3px 0px 15px 0px; }
  div.footer p {
    font-size: 12px;
    margin: 0px;
    text-align: right; }
    div.footer p.copyright {
      float: left; }
  div.footer a {
    color: #777777; }

div.route .path span.title {
  float: left;
  font-weight: bold; }
div.route .path ul {
  margin: 0px; }
  div.route .path ul li {
    margin: 3px;
    list-style-type: none; }
div.route .docfield span.title {
  font-weight: bold; }

ul.table {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.table li.route {
    padding: 3px 10px;
    margin: 0; }
  ul.table li.title {
    margin: 15px 0 3px;
    font-weight: bold;
    font-size: 14px; }
  ul.table div.method {
    font-weight: bold;
    width: 70px; }

.model_apidocs pre, .model_apidocs code, .concepts_apidocs pre, .concepts_apidocs code, .index_apidocs pre, .index_apidocs code, .routes_apidocs pre, .routes_apidocs code {
  font-size: 12px; }
.model_apidocs code, .concepts_apidocs code, .index_apidocs code, .routes_apidocs code {
  margin-left: 10px; }
